<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PointHistMapper">

	<select id="getPlaceUserPoint" parameterType="ReviewVO" resultType="int">
		select
		 sum(point)
		from pointhst
		where 
		 userId = #{userId}
		and register = #{reviewId}
	</select>
	
	
	<insert id="addPointHist" parameterType="ReviewVO">
		insert into pointhst
		(userId, point, regType, regAction, register)
		values
		(#{userId}, #{point}, #{regType}, #{regAction}, #{register})
	</insert>
	
</mapper>