<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReviewMapper">

	<insert id="addReview" parameterType="ReviewVO">
	
	</insert>
	
	
	<update id="modReview" parameterType="ReviewVO">
	
	</update>
	
	
	<delete id="deleteReview" parameterType="ReviewVO">
	
	</delete>
	
	
	<select id="cntPlaceReview" parameterType="ReviewVO" resultType="int">
	
	</select>
	
	
	<select id="cntPlaceUserReview" parameterType="ReviewVO" resultType="int">
	
	</select>
	
	
	<select id="getPreReview" parameterType="ReviewVO" resultType="ReviewVO">
	
	</select>
	
</mapper>