<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReviewMapper">

	<insert id="addReview" parameterType="ReviewVO">
		insert into review 
		(userId,	placeId,	reviewId,	content,	attachedPhotoId,	regDate)
		values 
		(#{userId}, #{placeId}, #{reviewId}, #{content}, #{attachedPhotoId}, now())
	</insert>
	
	
	<update id="modReview" parameterType="ReviewVO">
		update review
		set 
		 content = #{content},
		 attachedPhotoId = #{attachedPhotoId},
		 modDate = now()
		where
		 reviewId = #{reviewId}
	</update>
	
	
	<delete id="deleteReview" parameterType="ReviewVO">
		delete review
		where 
		 reviewId = #{reviewId}
	</delete>
	
	
	<select id="cntPlaceReview" parameterType="ReviewVO" resultType="int">
		select 
		 count(reviewId)
		from review
		where
		 placeId = #{placeId}
	</select>
		
	
	<select id="getPreReview" parameterType="ReviewVO" resultType="ReviewVO">
		select
		 content,
		 attachedPhotoId
		from review
		where
		 userId = #{userId}
		and placeId = #{placeId}
	</select>
	
</mapper>